# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.moved-aside
*.ipa
Payload/

# macOS
.DS_Store

# Temporary local scrap folders
/Youtube giao diện/
/freetube-main/
